/* .div1 {
    background-color:red;
    font-size: 16px;
    width: 400px;
    height:300px;
} 
.div2 {
    background-color:rgb(255, 234, 0);
    font-size: 16px;
    width: 50%;
    height:150px;
} 
.div3 {
    background-color:rgb(0, 42, 255);
    width: 100%;
    height:150px;
}  */


/* .div1 {
    background-color:red;
    font-size: 16px;
    width: 400px;
    height:300px;
} 

.div1 img {
    width: 100%;

*/

/* h1 {
    display: inline-block;
    background-color:red;
    width:300px;
}

a {
    display: block;
    background-color:red;
    width:300px;
} */

/* .div1 {
    width: 33%;    
    background-color:red;
    text-align: center;
    display: inline-block;
}
.div1 img {
    width: 100%;
}

.all {
    background-color:blue;
} */


/* float */
/* .div1 {
    width: 25%;    
    background-color:red;
    text-align: center;
    float: left;

}

 .div1 img {
    width: 100%;
}
 .clr {
    clear: both;
}  */

